* {
    box-sizing: border-box;
    margin: auto;
  }
  
  body {
    background:  #f2f2f2;
    }
  
  header {
    background-color: white;
     padding: 45px 10%;
     text-align: right;
     height: 100px;
  
    } 
  
  a {
    text-decoration: none;
    width: 100%;
   }  
  
  
  figure {
    padding: 4px;
    padding-top: 150px;
    margin: auto;
    align-content: center center;
  }
  
  h1 {
    font-size: 72px;
    color: #478ac9;  
    vertical-align: middle;
    text-align: center;
    font-family: 'Playfair Display', serif;
    
  }
  h2 {
    font-size: 20px;
    color:#478ac9;
    vertical-align: middle;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
  
  }
  
  h3 {
    font-size: 20px;
    color:#000000;
    vertical-align: middle;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
  
  }
  
   h4 {
    font-size: 40px;
    color: black;  
    vertical-align: middle;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    
   }
   
   h5 {
    font-size: 20px;
    color: black;  
    vertical-align: middle;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    margin-left: 15%;
    margin-right: 15%;
  
  
   }
  .wrapper {
    background: #ffffff;
    font-size: 16px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
    padding-right: 1%;
  }
  
  .wrapper2 {
    background: #fdf9e8;
    text-align: center;
    margin: auto;
    
  }
  
  .footer {
    background: #f2f2f2;
    text-align: center;
  }
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  
  .navhome {
  
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    width: 20%; /* Four links of equal widths */
    text-align: center;
   
  
  }
   
  .navabout {
  
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    width: 20%; /* Four links of equal widths */
    text-align: center;
  }
      
  
  .navworks {
  
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    width: 20%; /* Four links of equal widths */
    text-align: center;
  }
  
  .navcontact {
  
    padding: 10px;
    color: black;
    text-decoration: none;
    font-size: 15px;
    width: 20%; /* Four links of equal widths */
    text-align: center;
  }